/* Copyright Nathan Chapman, 2014 */

/* ---- GLOBAL ---- */

* { font-family:"Flama"; }

html, body { height:100%; }

h1, h2, h3, h4, h5, h6 { font-family:"Flama Thin"; font-weight:normal !important; }

/* ---- NAVBAR ---- */
nav.navbar { background-color:transparent; border-bottom:none; font-size:1.2em; }
nav .navbar-header a.navbar-brand { font-family:"Flama Ultra"; font-size:1.2em; color:#999; }
nav ul { font-size:0.85em; text-transform:uppercase; }
nav a {  transition:all 0.5s ease; }

/* ---- HOME - COVER ---- */

header.jumbotron.cover { height:100%; width:100%; background:url(http://placehold.it/1280x720/333/444); background-size:cover; background-repeat:no-repeat; background-position:center; color:#fff; -webkit-transform-style:preserve-3d;  -moz-transform-style:preserve-3d; transform-style:preserve-3d;}
header.jumbotron.cover .container { position:relative; top:45%; -webkit-transform:translateY(-45%); -ms-transform:translateY(-45%); transform:translateY(-45%); }
header.jumbotron.cover h1 { text-transform:uppercase; }
header.jumbotron.cover h2 { }