/* Copyright Nathan Chapman, 2014 */

/* ---- GLOBAL ---- */

* { font-family:"Flama"; }

html, body { height:100%; }

h1, h2, h3, h4, h5, h6 { font-family:"Flama Thin"; font-weight:normal !important; }

/* ---- NAVBAR ---- */
nav.navbar { background-color:transparent; border-bottom:none; font-size:1.2em; }
nav .navbar-header a.navbar-brand { font-family:"Flama Ultra"; font-size:1.2em; color:#999; }
nav ul { font-size:0.85em; text-transform:uppercase; }
nav a {  transition:all 0.5s ease; }

/* ---- HOME // COVER ---- */

header.jumbotron.cover { height:100%; width:100%; background:url(http://placehold.it/1280x720/333/444); background-size:cover; background-repeat:no-repeat; background-position:center; color:#fff; -webkit-transform-style:preserve-3d;  -moz-transform-style:preserve-3d; transform-style:preserve-3d; overflow:hidden; }
header.jumbotron.cover .container { position:relative; top:45%; -webkit-transform:translateY(-45%); -ms-transform:translateY(-45%); transform:translateY(-45%); }
header.jumbotron.cover .container-btn { position:relative; top:65%; -webkit-transform:translateY(-65%); -ms-transform:translateY(-65%); transform:translateY(-65%); }
header.jumbotron.cover .container-btn .btn { color:#fff; background:rgba(255,255,255,0.05); }
header.jumbotron.cover .container-btn .btn:hover { color:#fff; background:rgba(255,255,255,0.15); }
header.jumbotron.cover h1 { text-transform:uppercase; padding:10px; background:rgba(0,0,0,0.25); border:solid 1px #fff; font-size:3.5em; overflow:hidden; }
header.jumbotron.cover h2 { font-size:1.15em; text-transform:uppercase; font-family:"Flama Ultra"; }

@media only screen and (min-width : 768px) { /* .sm size */
header.jumbotron.cover h1 { font-size:4em; }
header.jumbotron.cover h2 { }
}
@media only screen and (min-width : 992px) { /* .md size */
header.jumbotron.cover h1 { font-size:5em; }
header.jumbotron.cover h2 { font-size:1.25em; margin-top:0.5em; }
}
@media only screen and (min-width : 1200px) { /* .lg size */
header.jumbotron.cover h1 { font-size:6em; }
header.jumbotron.cover h2 { font-size:1.3em; margin-top:1.5em; }
}





/* ---- MEDIA QUERIES - HOLDING ZONE ONLY!!! ---- */
@media only screen and (min-width : 480px) { /* .xs size */ 

}
@media only screen and (min-width : 768px) { /* .sm size */

}
@media only screen and (min-width : 992px) { /* .md size */

}
@media only screen and (min-width : 1200px) { /* .lg size */

}