# Kirby .htaccess

# rewrite rules
<IfModule mod_rewrite.c>

# enable awesome urls. i.e.:
# http://yourdomain.com/about-us/team
RewriteEngine on

# make sure to set the RewriteBase correctly
# if you are running the site in a subfolder.
# Otherwise links or the entire site will break.
#
# If your homepage is http://yourdomain.com/mysite
# Set the RewriteBase to:
#
# RewriteBase /mysite

# make panel links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^panel/(.*) panel/index.php [L]

# make site links work
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*) index.php [L]

# disable directory browsing
Options -Indexes


<If "%{HTTP_HOST} == 'http://nchp.mn'">
    ErrorDocument 403 http://nchp.mn/error/code:403
    ErrorDocument 404 http://nchp.mn/error/code:404
    ErrorDocument 500 http://nchp.mn/error/code:500
</If>
<ElseIf "%{HTTP_HOST} == 'http://dev.nchp.mn/'">
    ErrorDocument 403 http://dev.nchp.mn/error/code:403
    ErrorDocument 404 http://dev.nchp.mn/error/code:404
    ErrorDocument 500 http://dev.nchp.mn/error/code:500
</ElseIf>
<Else>
    ErrorDocument 403 http://localhost/dev/error/code:403
    ErrorDocument 404 http://localhost/dev/error/code:404
    ErrorDocument 500 http://localhost/dev/error/code:500
</Else>
</IfModule>