@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?q91e18');
	src:url('icomoon.eot?#iefixq91e18') format('embedded-opentype'),
		url('icomoon.woff?q91e18') format('woff'),
		url('icomoon.ttf?q91e18') format('truetype'),
		url('icomoon.svg?q91e18#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pencil:before {
	content: "\e905";
}

.icon-download2:before {
	content: "\e9c5";
}

.icon-link:before {
	content: "\e9cb";
}

.icon-plus:before {
	content: "\ea0a";
}

.icon-cancel-circle:before {
	content: "\ea0d";
}

.icon-cross:before {
	content: "\ea0f";
}

.icon-play3:before {
	content: "\ea1c";
}

.icon-facebook:before {
	content: "\ea8c";
}

.icon-facebook2:before {
	content: "\ea8d";
}

.icon-twitter:before {
	content: "\ea91";
}

.icon-twitter2:before {
	content: "\ea92";
}

.icon-feed2:before {
	content: "\ea94";
}

.icon-feed3:before {
	content: "\ea95";
}

.icon-youtube:before {
	content: "\ea97";
}

.icon-youtube2:before {
	content: "\ea98";
}

.icon-youtube3:before {
	content: "\ea99";
}

.icon-youtube4:before {
	content: "\ea9a";
}

.icon-vimeo:before {
	content: "\ea9c";
}

.icon-vimeo2:before {
	content: "\ea9d";
}

