/* ---- WORK // ARCHIVE ---- */
.work-archive h1 { margin:3em 3em 2em;}
.work-archive h1 a:link, .work-archive h1 a:visited, .work-archive h1 a:active, .work-archive h1 a:hover { color:#333; border-bottom:none; }
.work-archive h1 span { border:#515151 1px solid; font-family:"Flama Light"; font-size:1.25em; text-transform:uppercase; text-align:center; padding:7px 50px; }

/* ---- WORK // SINGLE POST ---- */
.work-single article { margin-top:150px; }
.work-single article h1 { font-size:5em;  }
.work-single article div { margin-bottom:2em; }
.work-single .media .item { margin-bottom:0.5em; }
.work-single .crew, .work-single .crew a { color:#999; }

@media only screen and (min-width : 768px) { /* .sm size */
.work-single .media .item { margin-bottom:1em; }
.work-single .media .item:first-child { margin-top:1.5em; }
}
@media only screen and (min-width : 992px) { /* .md size */
.work-single .media .item { margin-bottom:1.5em; }
.work-single .media .item:first-child { margin-top:1.5em; }
}
@media only screen and (min-width : 1200px) { /* .lg size */
}





/* ---- MEDIA QUERIES - HOLDING ZONE ONLY!!! ---- */
@media only screen and (min-width : 480px) { /* .xs size */ 

}
@media only screen and (min-width : 768px) { /* .sm size */

}
@media only screen and (min-width : 992px) { /* .md size */

}
@media only screen and (min-width : 1200px) { /* .lg size */

}
