/* Copyright Nathan Chapman, 2015 */

/* ---- GLOBAL ---- */

* { font-family:"Flama Light"; }

html, body { height:100%; }

h1, h2, h3, h4, h5, h6 { font-family:"Flama Thin"; font-weight:normal; }

p { font-size:1.3em; line-height:1.5em; margin-bottom:1.5em; }
strong { font-family:"Flama" }

a:link, a:visited { color:#ED8046; }
a:hover, a:active { text-decoration:none; border-bottom:1px solid; }

.btn { border-radius:0; }
.btn.btn-primary { background-color:#ED8046; color:#fff; border:none; }


dl { font-size:1.15em; }
dt { font-family:"Flama"; text-transform:uppercase; letter-spacing:1px; font-size:0.8em; }
dd { font-family:"Flama Light"; margin-bottom:1.5em; }


/* ---- GLOBAL // NAVBAR ---- */
nav.navbar { background-color:rgba(255,255,255,0); border-bottom:none; font-size:1em; text-transform:uppercase; -webkit-transition:background-color 0.25s ease; transition:background-color .25s ease;  }

nav.navbar a { transition:all 0.25s ease; -webkit-transtion:all 0.25s ease; }
nav.navbar a:hover, nav.navbar a:active { border-bottom:none; color:#ED8046 !important; }

nav .navbar-brand { font-size:1.2em; }

nav button.navbar-toggle { color:#eee; padding:9px 16px; }
nav button.navbar-toggle:hover { color:#666; }

nav #collapse { background:#fff; }
@media only screen and (min-width : 768px) { /* .sm size */
    nav #collapse { background:transparent; }
}


/* ---- GLOBAL // FOOTER ---- */
footer { background:#2f2f2f; padding:50px 0; color:#aaa; font-size:0.75em; }
#copyright { background:#222; padding-top:15px; text-align:right; font-size:0.65em; color:#666; }

footer a:link, footer a:visited { color:#cfcfcf; }
footer a:hover, footer a:active { color:#eee; }
footer .social a:hover, footer .social a:active { border-bottom:none; }


/* ---- HOME ---- */
section { padding:50px 0 125px 0; }
section h3 { margin:2em; }
section h3 a:link, section h3 a:visited, section h3 a:active, section h3 a:hover { color:#333; border-bottom:none; }
section h3 span { border:#515151 1px solid; font-family:"Flama Light"; font-size:1.45em; text-transform:uppercase; text-align:center; padding:7px 50px; }


/* ---- HOME // COVER ---- */
header.cover { height:100%; width:100%; background:no-repeat center center fixed; background-size:cover; background-attachment:scroll; color:#fff; overflow:hidden; margin-bottom:0px; }

header .main { position:relative; top:45%; -webkit-transform:translateY(-45%); -ms-transform:translateY(-45%); transform:translateY(-45%); }
header .main h1 { text-transform:uppercase; padding:10px; background:rgba(0,0,0,.45); border:solid 1px #fff; font-size:3.5em; overflow:hidden; }
header .main h2 { font-size:1.15em; text-transform:uppercase; font-family:"Flama Ultra"; }

header .btn-wrap { position:relative; top:65%; -webkit-transform:translateY(-65%); -ms-transform:translateY(-65%); transform:translateY(-65%); }
header .btn-wrap .btn { border:#bbb 1px solid; color:#bbb; background:rgba(255,255,255,0.05); padding:8px 15px 12px 15px; }
header .btn-wrap .btn:hover { color:#eee; background:rgba(255,255,255,0.25); }

@media only screen and (min-width : 768px) { /* .sm size */
header .main h1 { font-size:4em; }
header .main h2 { }
}
@media only screen and (min-width : 992px) { /* .md size */
header .main h1 { font-size:5em; }
header .main h2 { font-size:1.25em; margin-top:0.5em; }
}
@media only screen and (min-width : 1200px) { /* .lg size */
header .main h1 { font-size:6em; }
header .main h2 { font-size:1.3em; margin-top:1.5em; }
}


/* --- HOME // ABOUT ---- */
section#welcome { padding:0; display:table;  width:100%; position:relative; background-color:#f9f9f9; }
section#welcome .image-container { background-size:cover; background-position:top center; height:100%; overflow:hidden; padding:0; position:absolute; top:0; }
section#welcome .container { padding:25px 0 50px; }
section#welcome p:first-of-type { font-size:1.65em; }

/* ---- UTILITY ---- */
.orange { color:#ed8046; }
.orange-bg { background-color:#ed8046; }