/* Copyright Nathan Chapman, 2015 */

/* ---- GLOBAL ---- */

* { font-family:"Flama Light"; }

html, body { height:100%; }

h1, h2, h3, h4, h5, h6 { font-family:"Flama Thin"; font-weight:normal; }

p { font-size:1.3em; line-height:1.5em; margin-bottom:1.5em; }
strong { font-family:"Flama" }

a:link, a:visited { color:#ED8046; }
a:hover, a:active { text-decoration:none; border-bottom:1px solid; }

.btn { border-radius:0; }
.btn.btn-primary { background-color:#ED8046; color:#fff; border:none; }


dl { font-size:1.15em; }
dt { font-family:"Flama"; text-transform:uppercase; letter-spacing:1px; font-size:0.8em; }
dd { font-family:"Flama Light"; margin-bottom:1.5em; }

/* ---- GLOBAL // NAVBAR ---- */
nav.navbar { background-color:rgba(255,255,255,0); border-bottom:none; font-size:1em; text-transform:uppercase; -webkit-transition:background-color 0.25s ease; transition:background-color .25s ease;  }

nav.navbar a { transition:all 0.25s ease; -webkit-transtion:all 0.25s ease; }
nav.navbar a:hover, nav.navbar a:active { border-bottom:none; color:#ED8046 !important; }

nav .navbar-brand { font-size:1.2em; }

nav button.navbar-toggle { color:#eee; padding:9px 16px; }
nav button.navbar-toggle:hover { color:#666; }

nav #collapse { background:#fff; }
@media only screen and (min-width : 768px) { /* .sm size */
    nav #collapse { background:transparent; }
}


/* ---- GLOBAL // FOOTER ---- */
footer { background:#2f2f2f; padding:50px 0; color:#aaa; font-size:0.75em; }
#copyright { background:#222; padding-top:15px; text-align:right; font-size:0.65em; color:#666; }

footer a:link, footer a:visited { color:#cfcfcf; }
footer a:hover, footer a:active { color:#eee; }
footer .social a:hover, footer .social a:active { border-bottom:none; }



/* ---- UTILITY ---- */
.orange { color:#ed8046; }
.orange-bg { background-color:#ed8046; }